<!DOCTYPE html>
<html lang="en">
<head>
<title>V-Net</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap-responsive.min.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="css/fullcalendar.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="css/matrix-style.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="css/matrix-media.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="font-awesome/css/font-awesome.css") }}" />
<link rel="stylesheet" href="{{ url_for('static', filename="css/jquery.gritter.css") }}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="/">V-Net</a></h1>
</div>
<!--close-Header-part--> 



<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li><a href="/"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li> <a href="/network_topo"><i class="icon icon-signal"></i> <span>Network Topology</span></a> </li>
    <li class="active"> <a href="/net_stats"><i class="icon icon-inbox"></i> <span>Network Statistics</span></a> </li>
    <li> <a href="/network_optimize"><i class="icon icon-fullscreen"></i> <span>Network Optimize</span></a> </li>


<!--     <li class="content"> <span>Monthly Bandwidth Transfer</span>
      <div class="progress progress-mini progress-danger active progress-striped">
        <div style="width: 77%;" class="bar"></div>
      </div>
      <span class="percent">77%</span>
      <div class="stat">21419.94 / 14000 MB</div>
    </li>
    <li class="content"> <span>Disk Space Usage</span>
      <div class="progress progress-mini active progress-striped">
        <div style="width: 87%;" class="bar"></div>
      </div>
      <span class="percent">87%</span>
      <div class="stat">604.44 / 4000 MB</div>
    </li>
  </ul> -->
</div>
<!--sidebar-menu-->


<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Network Stats</a> </div>
    <h1>Tables</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">

        <div class="accordion" id="collapse-group">
          <div class="accordion-group widget-box">
            <div class="accordion-heading">
              <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-ok"></i></span>
                <h5>Switch Details</h5>
                </a> </div>
            </div>
            <div class="collapse in accordion-body" id="collapseGOne">
              <div class="widget-content nopadding">
                     {{switch_details_html}}
              </div>
            </div>
          </div>
          <div class="accordion-group widget-box">
            <div class="accordion-heading">
              <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-ok"></i></span>
                <h5>Switch Description</h5>
                </a> </div>
            </div>
            <div class="collapse accordion-body" id="collapseGTwo">
              <div class="widget-content nopadding">
                     {{switch_desc_html}}
              </div>
            </div>
          </div>
          <div class="accordion-group widget-box">
            <div class="accordion-heading">
              <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGThree" data-toggle="collapse"> <span class="icon"><i class="icon-ok"></i></span>
                <h5>Host Details</h5>
                </a> </div>
            </div>
            <div class="collapse accordion-body" id="collapseGThree">
              <div class="widget-content nopadding">
                     {{host_details_html}}
              </div>
            </div>
          </div>          
          <div class="accordion-group widget-box">
            <div class="accordion-heading">
              <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGFour" data-toggle="collapse"> <span class="icon"><i class="icon-ok"></i></span>
                <h5>Port Statistics</h5>
                </a> </div>
            </div>
            <div class="collapse accordion-body" id="collapseGFour">
              <div class="widget-content nopadding">
                     {{port_stats_html}}
              </div>
            </div>
          </div>
          <div class="accordion-group widget-box">
            <div class="accordion-heading">
              <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGFive" data-toggle="collapse"> <span class="icon"><i class="icon-ok"></i></span>
                <h5>Switch Flows</h5>
                </a> </div>
            </div>
            <div class="collapse accordion-body" id="collapseGFive">
              <div class="widget-content nopadding">
                     {{switch_flows_html}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.tables.js"></script>
</body>
</html>
